body {
    font-family: "Lexend", sans-serif;
    align-items: center;
    background-color: #f4f4f4;
    margin-left: 40%;
}

.menu {
    max-width: 25%;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 6%;
    padding: 10px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    margin: 30px;
}

.menu li:hover {
    background: #ddd;
    border-radius: 6%;
    width: 65%;
}

.menu li i {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}
p{
    margin-left: 20px;
}   
a:hover {
    color: #1cd2bd;
}

a:focus{
    background-color: #e1ec77;
}